
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900');



/* .noto-sans-jp {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.noto-sans-tc {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
} */

.notosans {
  font-family: "Noto Sans TC", "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.tabButton {
  position: relative;
  color: white;
  font-weight: 700;
  z-index: 1;
  padding: 5px 20px;
  margin-left: 3px;
  cursor: pointer;
  user-select: none;
  transform: translate(6px, 0);
}

.tabButton::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: oklch(70.7% 0.165 254.624);
  transform: skewX(-20deg);
}

.tabButton:hover::before {
  background-color: oklch(62.3% 0.214 259.815);
}

.tabButton:hover {
  color: oklch(90.5% 0.182 98.111);
}